<ul id="dropdown-left" class="dropdown-content">
  <li><a href="/logout">logout</a></li>
</ul>
<nav>
  <div class="nav-wrapper light-blue darken-3">
    <div class="brand-logo left">
      <a class="dropdown-trigger" href="#!" data-target="dropdown-left"><i class="large material-icons left">more_vert</i></a>
      &nbsp;{{ displayName }} - {{ monatJetzt }}
    </div>
    <ul class="right">
      <li><a href="#"><i class="material-icons">chevron_left</i></a></li>
      <li><a href="#"><i class="material-icons">chevron_right</i></a></li>
    </ul>
  </div>
</nav>

<div id="main">

  <div class="row8">
  {{#each kalenderTage as |tag i| }}

    {{{weekOpen i }}}

    <div class="col s1">
      <div class="card yellow lighten-5">
        <div class="card-content">
          {{#if tag.calTag}}
            <span class="card-title {{{weekdayColor i }}}">
              <span class="tageszahl">{{ tag.calTag.tageszahl }}</span> {{ tag.calTag.wochentag }} 
              <a id="{{{ tag.datum }}}" class="btn-tag btn-floating btn-small waves-effect waves-light blue lighten-4 right"><i class="material-icons blue-grey-text">fullscreen</i></a>
            </span>
            <p id="{{ tag.epoche }}">
                {{#if tag.dates }}
                  <ul id="{{ tag.datum }}">
                    {{#each tag.dates }}
                      <li class="truncate">{{ this.hour }}:{{ this.minute }} ⏰ {{ this.subject }}</li>
                    {{/each }}
                  </ul>
                {{else}}
                  <span class="grey-text text-lighten-1">keine Termine</span>
                {{/if }}

            </p>

          {{else}}
            <span class="card-title">
              -
            </span>
            <p></p>
          {{/if}}
        </div>
      </div>
    </div>

    {{{weekClose i }}}

  {{/each}}

  </div>
</div>
<div id="kalender-modal" class="modal">
  <div class="modal-content">
    <h4>Modal Header</h4>
    <p>A bunch of text</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>


<script charset="utf-8">
  $( ".dropdown-trigger" ).dropdown();
  $( '.modal' ).modal();
  $( '.btn-tag' ).click( function(){
    var datum = $( this ).prop( 'id' );

    $( '#kalender-modal' ).load( '/kalender_tag'
                                , { 
                                    action:  'retrieve'
                                  , datum:   datum
                                  }
                                , function(){ 
                                    console.log( 'kalender_tag loaded' );
                                    $( '#kalender-modal' ).modal( 'open' );
                                  }
                                );

  })
</script>
